@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media (max-width: 576px) {
    padding: 25px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: start;

    @media (max-width: 960px) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 100px;

    @media (max-width: 960px) {
      margin-right: auto;
    }

    img {
      margin-right: 15px;

      @media (max-width: 576px) {
        max-width: 30px;
        max-height: 50px;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 768px) {
        display: none;
      }
    }

    p {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__cart {
    margin-left: auto;

    a {
      @media (max-width: 576px) {
        padding: 10px 15px;
      }

      .button__delimiter {
        margin-left: 5px;
        margin-right: 5px;
      }

      svg {
        @media (max-width: 576px) {
          width: 15px;
          height: 15px;
        }
      }

      span {
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }
  }
}
