@import '../../scss/_variables';
@import '../../scss/libs/normalize';
@import '../../scss/components/button';

.root {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    h1 {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
