.root {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    width: 15px;
    height: 15px;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 14px;
  }

  .close {
    left: unset;
    top: 14px;
    right: 10px;
    opacity: 0.5;
    transition: opacity .15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 30px;
  width: 300px;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out;
  margin-right: auto;

  @media (max-width: 960px) {
    width: 200px;
  }

  @media (max-width: 576px) {
    width: 150px;
      padding: 12px 30px;
  }

  @media (max-width: 360px) {
    width: 130px;
      padding: 12px 30px;
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
